* {
    /*font-family: "Verdana", sans-serif;*/
    font-family: Monospaced, sans-serif;
    font-size: 10pt;
    background-color: black;
    color: hotpink;
}


/* Optional: Styling for inline code */
code {
    font-size: 14px; /* Adjust the font size for inline code */
    padding: 2px 5px; /* Padding for inline code */
    background-color: black; /* Inline code background */
    border-radius: 3px; /* Slightly rounded corners */
    border: 1px solid hotpink; /* Border color for inline code */
}
